In [92]:
import os
import pandas as pd

In [93]:
""""
Read the data
Get total number of months from the dataset
the net total of profit/losses over the entire period
calculate the changes in profit/losses over entire period then find the average
the greatest increase in profits over entire period (date and amount)
the greatest decrease in profite over entire period (date and amount)
EXAMPLE:
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)
""""

SyntaxError: EOL while scanning string literal (1529598858.py, line 16)

In [94]:
df = pd.read_csv("Resources/budget_data.csv")
df.head(15)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
5   Jun-2010         522857
6   Jul-2010        1033096
7   Aug-2010         604885
8   Sep-2010        -216386
9   Oct-2010         477532
10  Nov-2010         893810
11  Dec-2010         -80353
12  Jan-2011         779806
13  Feb-2011        -335203
14  Mar-2011         697845

In [95]:
#Get total number of months from the dataset

In [124]:
dflength = len(df)
dflength

86

In [125]:
#the net total of profit/losses over the entire period

In [126]:
pftot = df["Profit/Losses"].sum()
pftot

38382578

In [127]:
#calculate the changes in profit/losses over entire period

In [128]:
pl_change = [0]
pl = df["Profit/Losses"].to_list()
for i in range(1,len(pl)):
    diff = pl[i] - pl[i-1] 
    pl_change.append(diff)
pl_change

[0,
 116771,
 -662642,
 -391430,
 379920,
 212354,
 510239,
 -428211,
 -821271,
 693918,
 416278,
 -974163,
 860159,
 -1115009,
 1033048,
 95318,
 -308093,
 99052,
 -521393,
 605450,
 231727,
 -65187,
 -702716,
 177975,
 -1065544,
 1926159,
 -917805,
 898730,
 -334262,
 -246499,
 -64055,
 -1529236,
 1497596,
 304914,
 -635801,
 398319,
 -183161,
 -37864,
 -253689,
 403655,
 94168,
 306877,
 -83000,
 210462,
 -2196167,
 1465222,
 -956983,
 1838447,
 -468003,
 -64602,
 206242,
 -242155,
 -449079,
 315198,
 241099,
 111540,
 365942,
 -219310,
 -368665,
 409837,
 151210,
 -110244,
 -341938,
 -1212159,
 683246,
 -70825,
 335594,
 417334,
 -272194,
 -236462,
 657432,
 -211262,
 -128237,
 -1750387,
 925441,
 932089,
 -311434,
 267252,
 -1876758,
 1733696,
 198551,
 -665765,
 693229,
 -734926,
 77242,
 532869]

In [129]:
df["Differences"]=pl_change

In [130]:
df.head(15)

        Date  Profit/Losses  Differences
0   Jan-2010         867884            0
1   Feb-2010         984655       116771
2   Mar-2010         322013      -662642
3   Apr-2010         -69417      -391430
4   May-2010         310503       379920
5   Jun-2010         522857       212354
6   Jul-2010        1033096       510239
7   Aug-2010         604885      -428211
8   Sep-2010        -216386      -821271
9   Oct-2010         477532       693918
10  Nov-2010         893810       416278
11  Dec-2010         -80353      -974163
12  Jan-2011         779806       860159
13  Feb-2011        -335203     -1115009
14  Mar-2011         697845      1033048

In [131]:
#Averages for Profit/Loss for entire period

In [145]:
avg_ch = df["Differences"].mean()
avg_ch

-2288.1976744186045

In [134]:
#Greatest increase of profits over entire period

In [146]:
gravg_ch = df["Differences"].max()
gravg_ch

1926159

In [147]:
leasavg_ch = df["Differences"].min()
leasavg_ch

-2196167

In [154]:
print("Financial Analysis:")
print("----------------------------")
print("Total Months:" + " " + str(dflength))
print("Total: $" + str(pftot))
print("Average  Change: $" + str(round(avg_ch)))
print("Greatest Increase in Profits: " + str(gravg_ch))
print("Greatest Decrease in Profits: " + str(leasavg_ch))

Financial Analysis:
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2288
Greatest Increase in Profits: 1926159
Greatest Decrease in Profits: -2196167