In [1]:
import os
import pandas as pd

In [6]:
""""
Read the data
Get total number of months from the dataset
the net total of profit/losses over the entire period
calculate the changes in profit/losses over entire period then find the average
the greatest increase in profits over entire period (date and amount)
the greatest decrease in profite over entire period (date and amount)
EXAMPLE:
Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)
""""

SyntaxError: EOL while scanning string literal (1529598858.py, line 16)

In [3]:
df = pd.read_csv("Resources/budget_data.csv")
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
#Get total number of months from the dataset

In [6]:
len(df)

86

In [7]:
#the net total of profit/losses over the entire period

In [8]:
pftot = df["Profit/Losses"].sum()
pftot

38382578

In [9]:
#calculate the changes in profit/losses over entire period then find the average

In [ ]:
pl_change = []
pl = df["Profit/Losses"].to_list()
    for i in range(1,len(pl)):
        pl[i] - pl[i-1] 
        pl_change.append()