In [29]:
import os
import pandas as pd

In [30]:
"""
Your task is to create a Python script that analyzes the votes and calculates each of the following:

The total number of votes cast

A complete list of candidates who received votes

The percentage of votes each candidate won

The total number of votes each candidate won

The winner of the election based on popular vote.

EXAMPLE:
Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
-------------------------
Winner: Khan
-------------------------
"""

"\nYour task is to create a Python script that analyzes the votes and calculates each of the following:\n\nThe total number of votes cast\n\nA complete list of candidates who received votes\n\nThe percentage of votes each candidate won\n\nThe total number of votes each candidate won\n\nThe winner of the election based on popular vote.\n\nEXAMPLE:\nElection Results\n-------------------------\nTotal Votes: 3521001\n-------------------------\nKhan: 63.000% (2218231)\nCorrey: 20.000% (704200)\nLi: 14.000% (492940)\nO'Tooley: 3.000% (105630)\n-------------------------\nWinner: Khan\n-------------------------\n"

In [31]:
df = pd.read_csv("Resources/election_data.csv")
df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [32]:
totvotes = len(df)
totvotes

3521001

In [33]:
cand_tot = df["Candidate"].unique()
cand_tot

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [40]:
khan_tot = len(df[df["Candidate"]==cand_tot[0]])
khan_tot

2218231

In [41]:
correy_tot = len(df[df["Candidate"]==cand_tot[1]])
correy_tot

704200

In [42]:
li_tot = len(df[df["Candidate"]==cand_tot[2]])
li_tot

492940

In [43]:
tool_tot = len(df[df["Candidate"]==cand_tot[3]])
tool_tot

105630

In [46]:
khan_perc = round(khan_tot / totvotes *100)
khan_perc

63

In [47]:
correy_perc = round(correy_tot / totvotes *100)
correy_perc

20

In [48]:
li_perc = round(li_tot / totvotes *100)
li_perc

14

In [49]:
tool_perc = round(tool_tot / totvotes *100)
tool_perc

3

In [79]:
winner = df["Candidate"].mode()
winner[0]

'Khan'

In [63]:
"""
Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63.000% (2218231)
Correy: 20.000% (704200)
Li: 14.000% (492940)
O'Tooley: 3.000% (105630)
-------------------------
Winner: Khan
-------------------------
"""

"\nElection Results\n-------------------------\nTotal Votes: 3521001\n-------------------------\nKhan: 63.000% (2218231)\nCorrey: 20.000% (704200)\nLi: 14.000% (492940)\nO'Tooley: 3.000% (105630)\n-------------------------\nWinner: Khan\n-------------------------\n"

In [82]:
print("Election Results")
print("-------------------------")
print("Total Votes: " + str(totvotes))
print("-------------------------")
print("Khan: " + str(khan_perc) + "%" + "(" + str(khan_tot) + ")")
print("Correy: " + str(correy_perc) + "%" + "(" + str(correy_tot) + ")")
print("Li: " + str(li_perc) + "%" + "(" + str(li_tot) + ")")
print("O'Tooley: " + str(tool_perc) + "%" + "(" + str(tool_tot) + ")")
print("-------------------------")
print("Winner: " + winner[0])

Election Results
-------------------------
Total Votes: 3521001
-------------------------
Khan: 63%(2218231)
Correy: 20%(704200)
Li: 14%(492940)
O'Tooley: 3%(105630)
-------------------------
Winner: Khan